#board {
    height:640px;
    width: 640px;
    background-image: url('images/grass.png');
    border-spacing: 0px;
    border: 1px solid black;
}

.cell{
    border:1px solid black;
    padding: 0px;
    margin: 0px;
    width: 12.5%;
    height: 12.5%;
}

.holder {
    margin: auto;
    display: block;
}